/*noinspection CssUnknownTarget*/
@import "node_modules/bootstrap/less/bootstrap.less";
/*noinspection CssUnknownTarget*/
@import "node_modules/bootstrap/less/glyphicons.less";
/*noinspection CssUnknownTarget*/
@import "node_modules/react-dates/lib/css/_datePicker.css";


body {
  padding-top: 70px;
}

.homeButtonStyle {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
  margin-right: 10px;
}

.SingleDatePickerInput {
  border: none;
}

.DateInput__display-text {
  padding: 0;
  white-space: nowrap;
  overflow: hidden; }

.DateInput {
  font-weight: 200;
  font-size: 14px;
  line-height: 1.42857143;
  color: #757575;
  padding: 6px 12px;
  margin: 0;
  background: #fff;
  position: relative;
  display: block;
  width: 130px;
  height: 34px;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}




